body {
  margin: 0;
  font-family: var(--font-family);

}

:root {
  --primary-color: #DA3335;
  --secondary-color:#FEFEFE;
  --accent-color: #D3D4D5;
  --dark-color: #393A3C;
  --font-family: 'Open Sans', sans-serif;

}
